<div class="card shadow rounded">
  <div class="card-header">
    <div class="d-flex align-content-center">
      <h3 class="m-0">
        <%= @team.name %>
        <% unless @team.final? %>
          <small class="font-italic">(borrador)</small>
        <% end %>
      </h3>
      <div class="ml-auto"><%= link_to "Modificar colaboradores", team_collaborations_path(@team), class: 'btn btn-primary' %></div>
      <div class="ml-2"><%= link_to 'Volver', teams_path, class: 'btn btn-primary' %></div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'form', team: @team %>
  </div>
</div>
