<p>
  Hola <%= @user.name %>, comienza un nuevo mes y nos gustaria contar con tu apoyo!
  Completá tus datos para <%= @month %> haciendo un <%= link_to 'click acá', edit_users_quick_edit_url(@token) %>
  (este link funciona una única vez).
</p>
