<%= stylesheet_link_tag "home" %>
<% content_for(:container) { 'container-fluid home-content' } %>

  <section class="welcome p-0 mb-1 pt-3 pb-5 bg-white text-light">
    <div class="transbox">
      </div>
  </section>

  <section class="bg-light text-dark pt-5 pb-5 who-we-are" id="who-we-are">
    <div class="row ml-5 mr-5 align-items-center">
      <div class="col-md-7 col-sm-12">
        <h1 class="font-weight-bold mb-2">¿Quiénes somos?</h1>
        <p>
          Somos un grupo de familias de CABA y Alrededores que, ante el brote de la pandemia del
          <strong>COVID 19</strong>, y viendo la necesidad de asistencia requerida por numerosos comedores decidió juntarse para asistir la creciente demanda que ellos vienen teniendo. Todos los fines de semana las familias que pueden, colaboran cocinando 25
          viandas de comida que son entregas a comedores, para ser distribuida a personas carenciadas del barrio.
          <strong>Hoy asistimos a comedores, merenderos y capillas
          </strong>.
          <br>
          Nuestro proyecto consiste en la entrega de viandas cocinadas por las distintas familias y Donaciones que son destinadas a los comedores que asistimos con las viandas.
        </p>
      </div>
      <div class="col-md-5 col-sm-12">
          <%= image_tag("welcome_4.png", :class => "float-right") %>
      </div>
    </div>
  </section>

  <section class="bg-dark text-light pt-5 pb-5" id="how-we-do-it">
    <h1 class="text-center font-weight-bold mb-5">¿Cómo lo hacemos?</h1>
    <div class="row ml-5 mr-5">
      <div class="col-md-3">
        <div class="box-simple text-center">
          <div class="icon-outlined text-center">
            <i class="fas fa-envelope fa-2x"></i>
          </div>
          <h3 class="text-center font-weight-bold mb-2">Coordinacion</h3>
          <p class="text-center">Luego de completar el formulario de
            <a href="/users/sign_up" target="_blank"><strong>registro</strong></a>
            nos contactaremos en el correr de los dias si existe un grupo en la zona.
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box-simple text-center">
          <div class="icon-outlined text-center">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <h3 class="text-center font-weight-bold mb-2">Entrega de Bandejas</h3>
          <p class="text-center">Durante la semana se reparten las bandejas para que las familias puedan preparar las comidas para los días <strong>sábado y/o domingo</strong>. (La materia prima corre por cuenta de cada familia).</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-simple text-center">
          <div class="icon-outlined text-center">
            <i class="fa fa-heart fa-2x"></i>
          </div>
          <h3 class="text-center font-weight-bold mb-2">A Cocinar!</h3>
          <p class="text-center">Cocinamos con mucho amor siguiedo las recomedaciones de
            <a href="#modal-sanitation" data-toggle="modal" data-target="#modal-sanitation">higiene</a>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-simple text-center">
          <div class="icon-outlined text-center">
            <i class="fa fa-home fa-2x"></i>
          </div>
          <h3 class="text-center font-weight-bold mb-2">Recolección y entrega</h3>
          <p class="text-center">El día de la entrega se recolectan las viandas preparadas y se llevan en autos a los comedores asistidos.
            <br>Finalmente, nos quedamos ayudando a los comedores en la entrega.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light text-dark pt-5 pb-5">
    <h1 class="text-center font-weight-bold mb-5">¿A quiénes ayudamos?</h1>
    <div class="row ml-5 mr-5">
      <div class="col-md-3 col-sm-12">
        <ul>
          <li>Centro de Jubilados "Actuarte" (La Boca)</li>
          <li>Comedor Comunitario "Ciudadanitos del Mundo" (La Boca)</li>
          <li> Asociación Civil "Creando Lazos" (Lanús).</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <ul>
          <li>Comedor "San Cayetano" (La Boca)</li>
          <li>Comedor y Merendero "Rayito de Luz" Barrio Rivadavia (Bajo Flores)</li>
          <li>Centro Barrial "San Francisco y Santa Clara" (Bajo Flores)</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <ul>
          <li>Comedor y Merendero "Mi Luz" (Merlo)</li>
          <li>Comedor y Merendero "La Hora Feliz" (Moreno)</li>
          <li>Merendero "Estrellita" (La Boca)</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <ul>
          <li>Merendero "Estrellita" (La Boca)</li>
          <li>Comedor "Azul y Oro" (La Boca)</li>
          <li>Comedor en espacio "La Chilinga" (Villa Urquiza)</li>
        </ul>
      </div>
    </div>
    <p class="mt-2 text-center merendero-contact">Si tenes un
      <strong>merendero</strong>
      para asistir contactate con nosotros
      <strong>somosalternativasolidaria@gmail.com</strong>
    </p>
  </section>

  <section class="bg-dark text-light pb-5">
    <div class="row ml-5 mr-5">
      <div class="col-md-12">
        <h1 class="text-center font-weight-bold mb-5 pt-5">¿Qué necesitamos?</h1>
        <p class="text-center we-need">
          Toda ayuda es bienvenida, desde donativos de
          <strong>bandejas</strong>
          para las viandas y alimentos, hasta la participación de nuevos voluntarios que deseen
          <strong>cocinar o repartir.</strong><br>La sola
          <strong>difusión</strong>
          de este mensaje ayuda a que nos conozcan y conozcan este proyecto.
        </p>
      </div>
    </div>
  </section>
