<div class="card shadow rounded">
  <div class="card-header">
    <div class="d-flex align-content-center align-items-center">
      <h3 class="m-0">Nueva plantilla</h3>
      <div class="ml-auto"><%= link_to 'Volver', team_templates_path, class: 'btn btn-primary' %></div>
    </div>
  </div>
  <div class="card-body">
    <%= bootstrap_form_for(@team_template) do |f| %>
      <div class="form-row">
        <%= f.text_field :name, wrapper: { class: 'col' } %>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <%= f.submit 'Crear borrador', class: "btn btn-primary mt-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
