<div class="card shadow rounded">
  <div class="card-header">
    <div class="d-flex align-content-center align-items-center">
      <h3 class="m-0"><%= @zone.name %></h3>
      <div class="ml-auto"><%= link_to 'Volver', zones_path, class: 'btn btn-primary' %></div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
