<div class="card shadow rounded">
  <div class="card-header">
    <div class="d-flex align-content-center">
      <h3 class="m-0">
        <%= @destination.name %>
      </h3>
    </div>
  </div>
  <div class="card-body">
    <%= render 'form', destination: @destination %>
  </div>
</div>
