$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import "rails_bootstrap_forms";
@import "signup";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  font-family: 'Varela Round', sans-serif;
}

#rainbow-bar {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 8px;
  background-image: -webkit-linear-gradient(0deg, #ff0000 40px, #ff0000 40px, #ff0000 70px,#ffa500 70px, #ffa500 100px, #ffa500 100px,#ffa500 130px,#ffff00 130px,#ffff00 160px,#ffff00 160px,#ffff00 190px,#008000 190px,#008000 220px,#008000 220px,#008000 250px, #0000ff 250px, #0000ff 280px, #0000ff 280px,#0000ff 310px, #4b0082 310px, #4b0082 340px, #4b0082 340px, #4b0082 370px, #ee82ee 370px, #ee82ee 400px, #ee82ee 400px, #ee82ee 430px);
  background-size: 430px;
}

.container,
.container-fluid {
  margin-top: 1.5em;
}
/**Home**/
.carousel-inner > .carousel-item {
  height: 400px;
}

.home-content {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 !important;
}

.home-content hr {
  width: 50%;
}

.welcome {
  font-size: 5em;
}

.welcome img {
  width: 85%;
  max-width: 100%;
  max-height: 100%;
}

.merendero-contact,
.we-need,
.who-we-are {
  font-size: 1.25em;
}

.title {
  margin-top: 5%;
}

.box-simple .icon-outlined {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-outlined {
  width: 80px;
  height: 80px;
  line-height: 92px;
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  font-size: 0.75em;
}
