.sign_up {
    background:  
    linear-gradient(
        rgba(98, 150, 162, 0.45), 
        rgba(48, 46, 46, 0.45)
      ), url(/assets/alternativa-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#register-page {
    background-color: #f4f4f4c9;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}

#rainbow-bar {
    margin-bottom: 1.50rem;
    left: 0px;
    right:0px;
    bottom: 0px;
    top:0px;
    height: 8px;
    background-image: -webkit-linear-gradient(0deg, #ff0000 40px, #ff0000 40px, #ff0000 70px,#ffa500 70px, #ffa500 100px, #ffa500 100px,#ffa500 130px,#ffff00 130px,#ffff00 160px,#ffff00 160px,#ffff00 190px,#008000 190px,#008000 220px,#008000 220px,#008000 250px,	#0000ff 250px,	#0000ff 280px,	#0000ff 280px,#0000ff 310px, #4b0082 310px, #4b0082 340px, 	#4b0082 340px, 	#4b0082 370px, #ee82ee 370px, #ee82ee 400px, #ee82ee 400px, #ee82ee 430px);
    background-size: 430px;
  }

@media (min-width: 1200px) {
    .sign_up .container {
        max-width: 1050px;
     }
     
}