.sign_up {
    background:  
    linear-gradient(
        rgba(98, 150, 162, 0.45), 
        rgba(48, 46, 46, 0.45)
      ), url(/assets/alternativa-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#register-page {
    background-color: #f4f4f4c9;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}

@media (min-width: 1200px) {
    .sign_up .container {
        max-width: 1050px;
     }
     
}