<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p></p>
  <p>Nos estamos contactando con vos para informarte que tu email va a ser cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos estamos contactando con vos para informarte que tu email cambió a <%= @resource.email %>.</p>
<% end %>
