<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu contraseña. Lo podes hacer con el siguiente enlace: </p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no lo solicitaste vos, por favor ignorá este email.</p>
<p>Tu contraseña no va a ser cambiada hasta que accedas al enlace de acá arriba y crees una nueva.</p>
